.DS_Store
_site
.project
*.swp
.idea
*.iml

*.lock

images/prague_huge.jpg

*.psd

*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.pdfsync
*.dvi
*.thm
*.upa
*.upb

node_modules/
