
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="http://jodaiber.de/bs/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
	<link rel="stylesheet" type="text/css" href="/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Joachim Daiber</title>
	
</head>

<body>

<div id="layout">

    <div class="sidebar"><div id="prague"></div></div>

<div class="content">
<div class="inner">

<h1>{{ title }}</h1>

{{ content }}

</div>
</div>

</body>
</html>
