<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

      <script src="{{ '/js/modernizr.js' | relative_url }}"></script>
      <link
        rel="stylesheet"
        type="text/css"
        href="{{ '/css/fonts.css' | relative_url }}"
      />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/css/foundation.min.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/css/main.css' | relative_url }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <script
        type="text/javascript"
        src="{{ '/js/mathjax.js' | relative_url }}"
      ></script>

    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="layout">
      <div class="sidebar">
        <a href="{{ '/' | relative_url }}" id="prague"
          ><span>JoDaiber.de</span></a
        >
      </div>

      <div id="spacer"></div>
      <div class="content">
        <div class="inner">
          <h1>{{ page.title }}</h1>

          {{ content }}
        </div>
      </div>

      <script src="{{ '/js/jquery.js' | relative_url }}"></script>
      <script src="{{ '/js/foundation.min.js' | relative_url }}"></script>
      <script src="{{ '/js/app.js' | relative_url }}"></script>
    </div>
  </body>
</html>
