
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Joachim Daiber</title>
	
</head>

<body>

<div id="layout">

    <div class="sidebar"><div id="prague"></div></div>

<div class="content">
<div class="inner">

<h1>Joachim Daiber</h1>


<h2>About me</h2>

<p>I am a PhD student at the University of Amsterdam.</p>

<p>Previously, I was a Master's student in the <a href="http://lct-master.org">EM LCT</a> programme in Computational Linguistics at Charles University in Prague and the University of Groningen. In my Master thesis, I worked on robust dependency parsing of noisy content with <a href="http://www.let.rug.nl/vannoord/">Gertjan van Noord</a> and <a href="http://ufal.mff.cuni.cz/daniel-zeman">Dan Zeman</a>.</p>

<p>During my undergraduate studies at Freie Universität Berlin, I worked in the <a href="http://www.meta-net.eu">META-NET</a> project at the German Research Center for Artifical Intelligence.</p>

<h2>Connect</h2>

<ul>
<li><a href="http://github.com/jodaiber">GitHub</a>, <a href="https://www.linkedin.com/pub/joachim-daiber/84/279/93a">LinkedIn</a>, <a href="https://facebook.com/jodaiber">Facebook</a></li>
<li>Email: daiber.joachim [at] gmail.com.</li>
</ul>

<h2>Code</h2>

<ul>
<li>I created an efficient and more accurate version of the multilingual entity linking system <a href="https://github.com/dbpedia-spotlight/dbpedia-spotlight">DBpedia Spotlight</a> [Scala]</li>
<li>I wrote large parts of a <a href="https://github.com/runn1ng/FilmTit">translation memory for movie subtitles</a> [Scala]</li>
</ul>

<h2>Selected publications</h2>

<ul>
<li><p><strong>Daiber, J.</strong> and Jakob, M. and Hokamp, C. and Mendes, P.N. <a href="http://jodaiber.de/doc/entity.pdf">Improving Efficiency and Accuracy in Multilingual Entity Extraction.</a> Proceedings of the 9th International Conference on Semantic Systems. 2013. Graz, Austria.</p></li>
<li><p>Mendes, P.N., <strong>Daiber, J.</strong>, Rajapakse, R., Sasaki, F., Bizer, C. <a href="papers/LREC2012.pdf">Evaluating the Impact of Phrase Recognition on Concept Tagging.</a> Proceedings of the International Conference on Language Resources and Evaluation, LREC 2012. 21-27 May 2012. Istanbul, Turkey.</p></li>
</ul>

<!-- ## Talks
* [DBpedia Spotlight &ndash; Shedding Light on the Web of Documents](talks/xinnovations2011.pdf) <br />
  Short talk I gave at the Xinnovations 2011 conference about DBpedia Spotlight and my Bachelor's thesis (German).
-->

{{ content }}

<h2>Personal</h2>

	<!-- add instagram -->
</div>
</div>

</body>
</html>
